.input_fileupload--hidden {
    display: none;
}

.file-row {
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.custom-icon {
    vertical-align: middle;
    font-size: 36px;
    /* Adjust size as needed */
    height: 48px;
    width: 48px;
    display:flex;
    align-items:center;
    justify-content:center;
}